<!DOCTYPE html>
<html>
<head>
	<title>try to  Build a new Website</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- style css -->
	<link rel="stylesheet" href="css/style.css">



</head>
<style>

</style>
<body>

	<header>
		<div class="top_header ">
			<div class="top_container">
				<div class="col-12-md">
					<div class="space_bw">
						<div><span><i class="fa fa-clock-o text-danger" aria-hidden="true"></i>
							&nbsp;
						</span> MON - FRI: 9.00 AM - 8.00 PM <span>&nbsp;&nbsp;&nbsp; &nbsp; SAT & SUN: CLOSED</span></div>
						<div class="top_social"><ul>
							<li><i class="fa fa-facebook" aria-hidden="true"></i>
							</li>
							<li><i class="fa fa-twitter" aria-hidden="true"></i>
							</li>
							<li><i class="fa fa-linkedin" aria-hidden="true"></i>
							</li>
							<li><a href="/login"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							</li>
						</ul></div>

					</div>
				</div>
			</div>		
		</div>

		<div class="bottom_header">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container p-3">
					<a class="navbar-brand" href="#"><img src="img/download.webp" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto font-weight-bold">
							<li class="nav-item active">
								<a class="nav-link" href=".">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#about">About</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#goblog">Blog</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#services">Services</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#team">Contact</a>
							</li>

						</ul>

					</div>
				</div>
				
			</nav>
		</div>
	</header>

	<!-- *****       main *********-->

	<div class="main">
		<div class="main_content container">
			<div class="row">
				<div class="col-md-7">
					<h5 class="text-uppercase ">committed to success</h5>
					<h1 class="">Consultant IT</h1>
					<p>
						Kami membantu untuk dalam bentuk Teknologi 
					</p>
					<button class="btn btn-lg btn_style text-uppercase animate_btn">
						Our Services
					</button>
				</div>
			</div>
			
		</div>		
	</div>
	
	<!-- *********      TOP SERVICES 	***********-->

	<div class="top_services " id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6"><img src="img/boy_girl.webp" alt=""></div>
				<div class="col-md-6">
					<div class="mt-5 p-1 pl-4">
						<h5 class="  text-white">OUR TOP SERVICES
						</h5>
						<h1 class="text-white m-2 mt-4 font-weight-bold"> Our Best Services
						</h1>
						<h4 class="mt-5 text-white">We provide the best consultation for IT works. either IT development strategy, Website development, or Cyber security.

						</h4>
						<p class="mt-5 text-light">We can give you a free consultation only or a full development kit for your IT project.

						</p>

						<button class="btn btn-lg btn_style text-uppercase animate_btn mt-5">
							more about us
						</button>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<!--         FEATURED CASE STUDY        -->

	<div class="featured services bg-light" id="goblog">
		<div class="container">
			<h5>OUR PORTFOLIOS OF CASES
			</h5>
			<h1>Featured Case Study
			</h1>
			<div class="row">
				<div class="col-md-6">
					<div class="featured_box">
						<div class="box1"><img src="img/img2.webp" alt=""></div>
						<div class="box_content">
							<h5>Cyber security </h5>
							<p>
							Keamanan yang kami buat sangat lah terbaik
						</p></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="featured_box">
						<div class="box1"><img src="img/img3.webp" alt=""></div>
						<div class="box_content">
							<h5>Pembuatan Website</h5>

							<p>
								dalam pembuatan website kami handal dalam membuat website dengan design bagus
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="featured_box">
						<div class="box1"><img src="img/img4.webp" alt=""></div>
						<div class="box_content">
							<h5>strategy planning</h5><p>
							Within the construction industry as their overdraft
						</p></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="featured_box">
						<div class="box1"><img src="img/img5.webp" alt=""></div>
						<div class="box_content">
							<h5>Consultant IT</h5>
							<p>
								Kami selalu membantu client yang membutuhkan kami
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ********services******** -->

	<div class="services bg-light" id="services">
		<div class="container">
			<h5>OUR TOP SERVICES</h5>
			<h1>Our Best Services</h1>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div><i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
							</div>
							<h4>Cyber security</h4>
							<p> We'd exceled in the cyber security services. We can protect your project anywhere anytime.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div><i class="fa fa-object-group fa-5x " aria-hidden="true"></i>
							</div>
							<h4>Pembuatan Website  </h4>
							<p> We've a lot of experience in website development. Either for the small company nor the big company.

							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div><i class="fa fa-handshake-o fa-5x " aria-hidden="true"></i>
							</div>
							<h4>Consultant IT</h4>
							<p>We provide consultations from just one part of prject consultation to full development kit consultations.

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- **********	team members  ************* -->

	<div class="members  services bg-light ">
		<div class="container" id="team">
			<h5>OUR PROFESSIONAL MEMBERS

			</h5>
			<h1>Our Team Members

			</h1>
			<div class="row">
				<div class="col-md-4">
					<div class="featured_box">
						<div class="box1"><img src="img/Chaewun.jpg" alt=""></div>
						<div class="">
							<h3>Bryan Meyvaldo</h3>
							<h5>Cyber Securty</h5>
							</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured_box">
						<div class="box1"><img src="img/Jaehyun.jpg" alt=""></div>
						<div class="">
							<h3>Nayaka Wangsha</h3>
							<h5>Web Developer</h5>							
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="featured_box">
						<div class="box1"><img src="img/kim so hyun.jpg" alt=""></div>
						<div class="">
							<h3>Garrent Nathanael </h3>
							<h5>Consultant</h5>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ContactUS" id="contact">
		<!-- Tombol untuk mengarahkan ke halaman chat -->
        <button id="chatButton" onclick="kontak()">Contact Us</button>
		
		
        <!-- Script untuk menangani klik tombol
        <script>
            // Ambil tombol dengan ID chatButton
            const chatButton = document.getElementById('chatButton');

            // Tambahkan event listener untuk klik tombol
            chatButton.addEventListener('click', function() {
                // Navigasi ke halaman chat saat tombol diklik
                window.location.href = "/Chat";
            });
        </script> -->
		<!-- Script untuk menampilkan alert / prank -->
		<script>
			function kontak() {
				alert("Mohon MAAF\n Anda akan dialihkan ke biaya konsultasi")
			}
		</script>

	</div>
	
	<!-- ***********************	MORE ABOUT US -->
	
	<div class="more_about" id="more_about">
		<a href="/pricing" id="pricing"><button>Pricing Plan</button></a>
		
		
	</div>

</body>
</html>
